dist: xenial
language: minimal

services:
  - docker

stages:
  - test
  - lint

jobs:
  include:
    - stage: test
      language: python
      python: 3.7
      name: "PyTest"
      before_install:
        - python --version
        - python -m pip install -r requirements.txt
        - python -m pip install -r test-requirements.txt
      script:
        - docker pull twosixarmory/armory:0.1.1
        - pytest -s --disable-warnings
    - stage: lint
      language: python
      python: 3.7
      name: "Lint and Formatting"
      before_install:
        - python --version
        - python -m pip install black flake8
      script:
        - black --check ./
        - python -m tools.format_json --check 
        - flake8
