#########################################################
#           Armory No-Docker Requirements
#
# In order to run armory purely in a python virtual
# environment, you will need to setup a python environment
# where python >= 3.7, <3.9.  Additionally the following
# dependencies are required.  Note: to make this run with
# pip, users will need to run:
#         `pip install --upgrade pip==22.0.3`
#
# For more information see: docs/no-docker-mode.md
#
#
# NOTE:  Currently, this only provides a `pytorch`
#        environment, covering the CIFAR-10 & CARLA
#        armory experiments.  A future release will be
#        more comprehensive.
#
#########################################################

# PyTorch
torch==1.10.*
torchvision==0.11.*
torchaudio==0.10.*

# TensorFlow
tensorflow==2.8.1
tensorflow-datasets==4.5.*
tensorboardx==2.4.*

# Numpy
numpy==1.21.*
scipy==1.7.*
matplotlib==3.*

# ART
adversarial-robustness-toolbox==1.10.0

# Data dependencies
Pillow==9.0.*

# Needed for armory.data.utils
boto3==1.20.*

# needed for armory.utils.export
ffmpeg-python==0.2.0

# Needed for CARLA baseline scenario
opencv-python==4.5.5.62
