---
name: armory-core

# In order of priority: lowest (top) to highest (bottom)
channels:
  - defaults
  - conda-forge
  - anaconda
  - pytorch

dependencies:
  - python=3.9
  - ipykernel
  - pip>22.0

  - curl
  - git
  - six
  - sudo
  - wget
  - vim

  - transformers  # transformers is used for the Entailment metric only

  # Should be included in NVIDIA base image
  # - cudatoolkit=11.6
  # - cudnn  # cudnn required for tensorflow

  - conda-forge::ffmpeg  # conda-forge ffmpeg comes with libx264 encoder, which the pytorch channel version does not include. This encoder is required for video compression defenses (ART) and video exporting. Future work could migrate this to libopenh264 encoder, which is available in both channels.

  # ByteTrack (see below)
  # TODO: Should this be added to pyproject.toml; e.g. [byte-track]?
  - pytorch=1.12   # Required by ByteTrack, therefore must be installed pre-pip
  - Cython         # ByteTrack
  - lap            # ByteTrack

  - pip:
    # Armory
    - --editable '.[all]'

    # Hydra Lightning Configs
    - 'git+https://github.com/romesco/hydra-lightning.git#subdirectory=hydra-configs-pytorch-lightning'

    # ByteTrack
    - thop          # ByteTrack
    - cython-bbox   # ByteTrack
    - 'git+https://github.com/ifzhang/ByteTrack.git'
    - 'git+https://github.com/cocodataset/cocoapi.git#subdirectory=PythonAPI'


prefix: /opt/conda