#
# This file is only to be used if the local environment requires that you
# run armory in "--no-docker" mode. Using no-docker mode adds considerable
# complexity to the installation and operation of armory, so we encourage the
# standard containerized version for most uses.

# We have segmented additional requirements below for PyTorch Deep Speech
# and TF2 object detection, which you should uncomment as needed.

# NOTE: We recommend installing CUDA and PyTorch with conda (see docker/Dockerfile-base)

# CUDA
#cudatoolkit==11.3

# PyTorch
torch==1.10.*
torchvision==0.11.*
torchaudio==0.10.*

# TensorFlow
tensorflow==2.8.0
tensorflow-datasets==4.5.*
tensorboardx==2.4.*

# Numpy
numpy==1.21.*
scipy==1.7.*
matplotlib==3.*
jupyterlab==3.*

# ART
adversarial-robustness-toolbox==1.10.3

# Data dependencies
Pillow==9.0.*

# Needed for armory.data.utils
boto3==1.20.*

# needed for armory.utils.export
ffmpeg-python==0.2.0

# Needed for CARLA baseline scenario
opencv-python==4.5.5.62

# Base Requirements
loguru
docker
jsonschema
requests
pytest

### Begin Pytorch required libraries (only needed for PyTorch DeepSpeech)
# librosa  # Note: Conda install or install soundfile separately
pytorch-lightning==1.4.*
git+https://github.com/romesco/hydra-lightning/\#subdirectory=hydra-configs-pytorch-lightning
python-levenshtein
hydra-core
google-cloud-storage
sox
### End Pytorch required libraries

### Begin TF2 required libraries (only needed for object detection)
#tf-models-official==2.8
#
# protobuf=3  # Note: Conda or binary install
# 
#       The TF2 object detection API requires separate installation, which
#       is not simply handled by pip. Instructions can be found at
#       https://github.com/tensorflow/models/blob/79354e14a4b41ff9019f4a5ebd12cfa498917182/research/object_detection/packages/tf2/setup.py
#
#git clone https://github.com/tensorflow/models.git && cd models/research && git checkout 79354e14a4b41ff9019f4a5ebd12cfa498917182
#cd models/research
#protoc object_detection/protos/*.proto --python_out=.
#cp object_detection/packages/tf2/setup.py .
#pip install --use-feature=in-tree-build .
### End TF2 required libraries
