#
# This file is only to be used if the local environment requires that you
# run armory in "--no-docker" mode. Using no-docker mode adds considerable
# complexity to the installation and operation of armory, so we encourage the
# standard containerized version for most uses.

# Because Armory supports PyTorch, TensorFlow1, and TensorFlow2, we've
# segmented the per-platform requirements below which you should uncomment
# depending on which you use. TensorFlow1 support by Armory is deprecated and
# will be removed in a future release.

docker
jsonschema
requests
pymongo
tensorflow-datasets==3.2.0
jupyterlab==3.0.9
boto3==1.17.20
Pillow==8.2.0
adversarial-robustness-toolbox==1.6.2
pydub==0.24.1
apache-beam==2.22.0
dill==0.3.1.1
pytest==6.2.2
ffmpeg-python==0.2.0
opencv-python==4.5.1.48
pandas==1.2.4

###
### Begin Pytorch required libraries
torch==1.8.1
torchvision==0.9.1
torchaudio==0.8.1
#cudatoolkit==11.0.0
hydra-core~=1.0.6
python-levenshtein~=0.12.2
librosa
sox
matplotlib
# The deepspeech asr processing requires warpctc-pytorch which is highly environment
# dependent. If you are not useing that model or related, you don't need to import
# waprctc-pytorch
# warpctc-pytorch==0.2.1+torch16.cuda102
###
### End Pytorch required libraries
###

### Begin TF2 required libraries
#tensorflow-gpu==2.4.1
#       The TF2 object detection API requires separate installation, which
#       is not simply handled by pip. Instructions can be found at
#       https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2.md#python-package-installation
#       Commit hash 79354e14a4b41ff9019f4a5ebd12cfa498917182
### End TF2 required libraries

###
### Begin TF1 required libraries
###
# tensorflow-gpu==1.15.0
#       The TF1 object detection API requires separate installation, which
#       is not simply handled by pip. Instructions can be found at
#       https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf1.md#python-package-installation
#       Commit hash 79354e14a4b41ff9019f4a5ebd12cfa498917182
###
### End TF1 required libraries
###
