---
name: GitHub CI

on:
  push:
    branches:
      - master
      - r*

  pull_request:
    branches:
      - master
      - r*
jobs:
  pytest:
    name: PyTest
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        python-version: ['3.6']
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Run python tests
        run: |
          pip install -r requirements.txt
          version=$(python -c "import armory; print(armory.__version__)")
          docker build --file docker/Dockerfile --target armory -t twosixarmory/armory:${version} .
          docker build --file docker/tf1/Dockerfile --build-arg armory_version=${version} --target armory-tf1-base -t twosixarmory/tf1-base:${version} .
          docker build --file docker/tf1-dev/Dockerfile --build-arg armory_version=${version} --target armory-tf1-dev -t twosixarmory/tf1:${version} .
          pip install -r test-requirements.txt
          pytest -s --disable-warnings
  flake8-test:
    name: Flake8
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-python@v1
      - name: install flake8
        run: pip install flake8
      - name: Run flake8
        run: flake8
  black-test:
    name: Black code format
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-python@v1
      - name: install black
        run: pip install black
      - name: Ensure contributor used ("black ./") before commit
        run: black --check ./
  yamllint-test:
    name: Yamllint
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-python@v1
      - name: install yamllint
        run: pip install yamllint
      - name: Run yamllint
        run: yamllint --no-warnings ./
  json-format-test:
    name: JSON file format
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-python@v1
      - name: Ensure contributor used ("python -m tools.format_json") before commit
        run: python -m tools.format_json --check
